* {
    /* this creates a border across all containers/elemnts which makes it easier to view and apply css styles */
    /* outline: 2px dotted green; */
}

.row {
    display: flex;
}

body {
    background-color: black;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 1.2em;
}

hr {
    border: 0.5px solid rgb(91, 88, 88);
}

h2 {
    color: rgb(52, 134, 227);
}

/* ============================
HEADER SECTION
==============================*/

.top-header {
    justify-content: space-between;
    margin-top: 18px;
}

/* LOGO */

.logo {
    width: 10%;
    height: 50px;
    min-width: 50px; 
    /* setting min-width so that it doesn't get too pinched when browser window is minimized */

    margin-left: 50px;
}


/* SEARCH BAR */
form {
    position: relative; 
    /* setting position:relative so that the search icon inside is absolutely positioned relative to this form div" */ 
    width: 600px; /* width of search box */

    /* 10% distance from the logo present on the left */
    margin-left: 10%;

}

input[type="text"] {
    color: white;
    width: 100%;
    padding: 5px 30px 5px 30px; 
    /* box-sizing: includes padding and border in the element's width */
    box-sizing: border-box; 
    background-color: black;

    border: 1px solid rgb(91, 88, 88);
    border-radius: 4px;

}

.search-icon {
    /* positioned absolutely relative to form div (nearest positioned ancestor) */
    position: absolute;

    /* positioned 18% distance from the top edge of the form div (nearest positioned ancestor)
    and
    positioned 8px from the left edge of .form div (nearest positioned ancestor) */
    top: 30%; 
    left: 8px;

}

/* NAVIGATION BAR */
nav {
    width: 80%;
    justify-content: flex-end;
}

/* nav items on hover turns green */
.nav-item:hover {
    color: rgb(52, 134, 227);
}

form, .nav-item {
    padding-top: 10px;
}

.crypto {
    padding-left: 7%;
    padding-right: 7%;
}



/* ============================
HOMEPAGE
===============================*/
.home-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;  /* this prevents breaking of image pixel to fit the given dimeansion */

}
 
.hompage-desc {
    text-align: center; /* placing the company name and description at the center pf the page */
    
}

.hompage-desc-name {
    font-size: 2.5em;
}

.learn-more {
    background-color: rgb(52, 134, 227);
    border-radius: 5px;
    padding: 8px 30px;
    color: white;
    font-size: 15px;
}


/* ============================
MAIN
===============================*/
main {
    margin-left: 30px;
    margin-right: 30px;

}


/* ============================
ABOUT SECTION
==============================*/
.more-about {
    width: 70%;
    justify-content: space-between;
}


/* ============================
STATISTICS SECTION
==============================*/
.stats {
    margin-top: 80px;
}

.stats-items {
    justify-content: space-between;
    flex-wrap:wrap;
}

.info-button {
    background-color: black;
    color: white;
    font-size: 0.2em;

    height: 20%;
    margin-top: 15px;

    /* 50% border-radius makes it a circle */
    border-radius: 50%;  
    border: 0.5px solid white;
}

.info-box {
    /* positioned abosloutely so that it is outside the normal document flow and 'floats' over other elements and later it is positioned in the eventListener function displayInfo() relative to the .info-button
     */
    position: absolute; 
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    display: none; /* initially hidden */
    color: black;
    font-size: 0.9em;
    width: 20%;
    height: auto;
}

/* =========================
FOOTER
============================*/
.footer {
    justify-content: center;
    background-color: #4c4a4a;

}

.social, .service, .info {
    /* add margin to left and right side of each flex item since .footer has justify-content:center to have these 3 child items (social, service, info) at the center of the div */
    margin: 0 50px;
    width: 13%;
   
}

.footer h4 {
    color: white;
}

.footer p {
    color: white;
    font-size: 0.5em;
}

.social {
    text-align: center;
}


.social .icons {
    justify-content: center;
    margin: 0 40%;
}





/* ============================
MOBILE VIEW
==============================*/
@media screen and (max-width: 600px) { 
    .top-header {
        flex-wrap: wrap;
    }

    .logo, .nav {
        width: auto;
    }

    .logo {
        margin-left: 15px;
    }

    .search-icon {
        top: 45%; 
    }

    .form {
        width: 120px;
        border: 0px;
        height: 24pt;
        border-radius: 24px;
        padding: 0px 12px;
        margin: 0px;
    }

    .home-img{
        max-width: 100%;
        height: auto;

    }

    .more-about {
        width: 100%;
        justify-content: space-between;
    }

    .industry {
        margin-left: 20px;
        margin-right: 20px;
    }

    .stats-items {
        display: block;
    }

    .stat {
        display: flex;
    }

    .stat-num {
        padding-top: 5%;
        margin-left: 20px;
    }

    .info-box {
        width: 30%;
    }

    .service {
        /* add margin to left and right side of each flex item since .footer has justify-content:center to have these 3 child items (social, service, info) at the center of the div */
        margin: 0 20px;
        width: 15%;
       
    }

    .social .icons {
        justify-content: center;
        display: inline-block;
        margin: 0 20px;
    }
    
}